ftw-tools
ipykernel
leafmap
leafmap
localtileserver
jupyterlab
scikit-learn
# pyarrow
git+https://github.com/agroimpacts/lacunalabels.git#egg=makelabels
git+https://github.com/agroimpacts/instancemaker.git#egg=instancemaker
git+https://github.com/microsoft/torchgeo.git#egg=torchgeo